dbs/
dbs/WHEAT_inhouse/mRNA_contigs.fasta
dbs/*/Genome/*
output/
dbs/*/Genome/
rna.ps
*/rna.ps
input/
tests/
src/*.pyc
src/*.kv.txt
*.*~
*/*.*~
*/*/*.*~
ATH/
.DS_Store
src/*.swp
tmp/
lib/all.model
lib/miRdup_1.4/model/all.model
mirdeep_p/bowtie-index/
*.swp
*/*.swp
