workdir/*.err
workdir/*.out
*/genome/
.DS_Store
input*/
output/
src/jobout*/
workdir/*/
tmp*/
misc/
dbs/
dbs/WHEAT*/mRNA_contigs.fasta
dbs/*/Genome/
dbs/*/bowtie_index/
mirdeep_p/bowtie-index/
lib/all.model
lib/miRdup_1.4/model/all.model
rna.ps
*/rna.ps
src/*.pyc
src/*.kv.txt
*.*~
*/*.*~
*/*/*.*~
*.swp
*/*.swp
